html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#conteudo {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  align-items: center;
  

  background: linear-gradient(to bottom, #b510d5, #f2b1e4);
}

#titulo {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: center;
  width: 70%;
  height: auto;

  word-break: break-all;
  overflow-wrap: break-word; /* Compatibilidade para navegadores */


  font-size: 2.5rem;
  color: #0e0101;
  background-color:#e4d7d7;
  
  border-radius: 20px;
}
#pergunta{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  background-color:#e4d7d7;
  font-size: 1rem;
  border: 5px solid #510057;
  border-radius: 20px;
  word-break: break-word;
  padding: 5px;
}

#forca{
  width: auto;
  height: 30%;
}
#botoes {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30%;
  flex-wrap: wrap;
  
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
}

.flex-end{
  justify-self: flex-end;
  align-self: flex-end;
}
#botao{
  width: 15%;
  height: 20%;
  background-color: rgb(0,0,0,0.2) ;
  border: 5px solid #510057;
  border-radius: 15px;
}
#botao:disabled {
  color: black;
}

#palavra{
  margin: 0;
  width: 100%;
  height: auto;
  padding-bottom: 10%;
  text-align: center;
  font-size: 1.2rem;

  border-radius: 20px;
  word-break: break-word;
  padding: 5px;
}

#iniciar{
  width: 50%;
  height: 30%;
  font-size: 1.5rem;
  border-radius: 30px;
  background-color: #510057;
  color: white;
  border: 5px solid #000000;
}